{% extends "templates/base.html" %}

{% block content %}

  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{ title }}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">

      <div class="card-header">
        Manutenção de Funcionários
      </div>

      <div class="card-body">
        <div>
          <div style="margin-bottom: 15px;">
            <a href="/funcionario/insertFuncionario" class="btn btn-primary">
              Inserir novo funcionário
            </a>
          </div>

          <div style="background-color: #f8f9fa">
            <table id="tabFuncionarios" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Ação</th>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Username</th>
                  <th>Cargo</th>
                  <th>Data de Contratação</th>
                  <th>Salário (R$)</th>
                </tr>
              </thead>
              <tbody>
                {% for reg in data %}
                  <tr>
                    <td>
                      {# Link para visualização dos dados #}
                      <a href="/funcionario/ViewFuncionario/{{ reg.id }}" title="Visualizar">
                        <i class="fas fa-search"></i>
                      </a>

                      {# Link para atualização dos dados #}
                      <a href="/funcionario/UpdateFuncionario/{{ reg.id }}" title="Atualizar" style="margin-left: 10px;">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </td>
                    <td>{{ reg.id }}</td>
                    <td>{{ reg.nome }}</td>
                    <td>{{ reg.username }}</td>
                    <td>{{ reg.cargo }}</td>
                    <td>{{ reg.datacontratacao }}</td>
                    <td>{{ reg.salario }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function () {
      windowOnLoad();
      //@ Caso tenha dado erro no servidor frontEnd, ele será mostrado aqui.
      const localErro = "{{ erro }}";
      if (localErro != "") {
        alert("[vwFuncionario|onload] Servidor retornou o erro: " + localErro);
      }

      new DataTable('#tabFuncionarios');
    };
  </script>

{% endblock %}
